.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

div {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 1pc;
}

.message {
  border-color: black;
  padding: 30px;
  border-radius: 25px;
  border-width: 10px;
  border-color: black;
  border-style: dotted;
  border-width: 7px;
}

#loseMessage {
  background-color: red;
}

#winMessage {
  background-color: lime;
}