body {
  background-color: yellow;
  align-self: flex-end;
}

h2 {
  display: inline-flex;
  justify-content: flex-start;
  width: 100%;
}
div {
  align-self: flex-end;
}

#email {
  background-color: blueviolet;
}